@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Rubik", sans-serif;
}
.MuiPopover-root .MuiMenu-paper {
  opacity: 0.5 !important;
}
.sticky {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}
.post-widget {
  width: 100px;
  height: 100px;
}
